<%= simple_form_for(@discipline) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col s12 l6 separator padding">
        <%= f.input :name, label: "Nom" %>
        <%= f.input :duree, label: "Durée" %>
        <%= f.collection_select(:frequence_id, Frequence.all, :id, :name, {:class=>'visible'}) %>
      </div>
      <div class="col s12 l6  padding">
        <h4>Tarif :</h4>
        <%= f.collection_select(:tarif_id, Tarif.where(valide: true).order('name'), :id, :name, {:class=>'visible'}) %>
      </div>
    </div>
    <div class="form-actions center">
      <%= f.button :submit, value: "Enregistrer" %>
    </div>
  </div>
<% end %>
