<%= simple_form_for(@discipline) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :duree %>
<%= f.collection_select(:frequence_id, Frequence.all, :id, :name, {:class=>'visible'}) %>
    <%= f.input :tarif1 %>
    <%= f.input :tarif2 %>
    <%= f.input :tarif3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
