<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a></h4>
  <h4>Disciplines</h4>
  <h4><%= link_to new_discipline_path do  %>
  <i class="fa fa-plus-circle" aria-hidden="true" title="Ajouter une discipline"></i>
  <% end %></h4>
</div>

<div class="mycard">
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="3" class="center">Tarifs</th>
      </tr>
      <tr>
        <th>Nom</th>
        <th>Durée en min</th>
        <th>Frequence</th>
        <th>6/8 ans</th>
        <th>9/20 ans</th>
        <th>+20 ans</th>
      </tr>
    </thead>

    <tbody>
      <% @disciplines.each do |discipline| %>
        <tr>
          <td><%= discipline.name %></td>
          <td><%= discipline.duree %></td>
          <td><%= discipline.frequence.name %></td>
          <td><%= discipline.tarif1 %></td>
          <td><%= discipline.tarif2 %></td>
          <td><%= discipline.tarif3 %></td>
          <% p discipline.valide %>
          <td><%= discipline.valide %></td>
          <td>
            <%= link_to edit_discipline_path(discipline), class: "secondary-content" do %>
              <i class="fa fa-info-circle" aria-hidden="true" title="Détails"></i>
            <% end %></td>

            <td><%= link_to discipline, class: "secondary-content", method: :delete, data: { confirm: "Supprimer la discipline?" } do %>
              <i class="fa fa-trash-o" aria-hidden="true" title="Supprimer"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
