<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a></h4>
  <h4>S'inscrire à Musique en L'Isle</h4>
  <h4></h4>
</div>

<div class="mycard">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% @f=f %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col s4 separator padding">

          <%= @f.input :email, required: true, autofocus: true %>
          <%= @f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= @f.input :password_confirmation, required: true %>
          <br/><br/>
          <div class="form-actions">
            <%= @f.button :submit, "Enregistrer" %>
          </div>
        </div>
        <div class="col s8 padding">
          <%= render 'adherent/form' %>
        </div>

      </div>
    </div>


  <% end %>

</div>
