<div class="myflex content-title">
  <p><%= render 'shared/logo' %> / Liste d'élèves TOUTES SAISONS</p>
      <%= form_tag adherent_students_path(current_user), method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Rechercher un élève"
        %>
      <% end %>
  <%= render 'shared/logout' %>
</div>

<div class="row back rowshadow">
  <div class="content col s12">

    <div class="content-table">
      <%= render 'shared/studentslist' %>
    </div>
  </div>
</div>

