    <div class="myflex content-title">
      <p><%= render 'shared/logo' %> /
        <%= @student.fullname %></p>
      <%= render 'shared/logout' %>
    </div>
    <div class="content-bandeau myflex">
      <div>Elève</div>
      <%= @student.fullname %>
      <%= @student.year %>
      <%= link_to fa_icon('edit'), edit_student_path( @student), title: "Modifier" %>
    </div>
    <div class="content-table">
      <div class="row">
        <div class="col s12 m6">
          <%= render 'shared/courlist' %>
        </div>
        <div class="col s12 m6">
          <div class="conten-form">
            Comentaires :
          </div>
        </div>
      </div>
    </div>

