    <div class="myflex content-title">
      <p><%= render 'shared/logo' %> /
        <%= @student.fullname %></p>
        <%= link_to fa_icon('edit'), edit_student_path( @student), title: "Modifier" %>
      <%= render 'shared/logout' %>
    </div>
    <div class="content-table">
      <%= render 'shared/courlist' %>
    </div>

