<div class="row">
  <h4>Détails élève :</h4>
  <div class="row mycard">
    <p>
      <strong>Nom:</strong>
      <%= @student.first_name %>
    </p>

    <p>
      <strong>Prénom:</strong>
      <%= @student.last_name %>
    </p>

    <p>
      <strong>Année:</strong>
      <%= @student.year %>
    </p>

    <p>
      <strong>Adhérent:</strong>
      <%= @student.user.first_name %> <%= @student.user.last_name %>
    </p>

    <%= link_to 'Edit', edit_student_path( @student) %> |
    <%= link_to 'Back', students_path %>
  </div>
</div>
