  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Cours</th>
        <th>Instrument</th>
        <th>Année</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @student.cours.each do |cour| %>
        <% if @saison == cour.year %>
          <tr>
            <td><%= cour.discipline.name %></td>
            <td><%= cour.instrument.name %></td>
            <td><%= cour.year.name %></td>
            <td><%= link_to edit_student_cour_path(@student, cour), class: "secondary-content" do %>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              <% end %></td>
            <td>
              <%= link_to student_cour_path(@student, cour), class: "secondary-content", method: :delete, data: { confirm: "Supprimer le cours?" } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
