  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Cours</th>
        <th>Instrument</th>
        <th>Année</th>
        <th></th>
        <th><%= link_to new_student_cour_path(@student) do  %>
    <i class="fa fa-plus-circle" aria-hidden="true" title="S'inscrire à un cours"></i>
    <% end %></th>
      </tr>
    </thead>
    <tbody>
      <% @student.cours.each do |cour| %>
        <% if @saison == cour.year %>
          <tr class="pointer" onclick="location.href='<%= edit_student_cour_path(@student, cour) %>'">
            <td><%= cour.discipline.name %></td>
            <td><%= cour.instrument.name %></td>
            <td><%= cour.year.name %></td>
            <td></td>
            <td>
              <%= link_to student_cour_path(@student, cour), class: "", method: :delete, data: { confirm: "Supprimer le cours?" } do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

