  <div class="marge col s12 m3">
    <div class="myflex bas">
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo.jpg", height: 50 %>
      <% end %>
      <%= select_tag "saison", options_from_collection_for_select(Year.all.order('name').reverse, "id", "name", @saison.id),class: "saison", :onChange=>"javascript: window.location.href = `?saison=${this.value}`;" %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="material-icons right logout">exit_to_app</i>
      <% end %>
    </div>

    <hr>

      <% if @adherent != current_user %>
        <%= link_to adherent_path(current_user), class: "waves-effect waves-light btn" do %>
          <i class="material-icons right">cancel</i><%= @adherent.fullname %>
        <% end %>
      <% else %>
        <%= link_to @adherent.fullname, adherent_path(current_user), class: "btn waves-effect waves-light" %>
      <% end %>

    <h1><u><%= @adherent.function.name %></u></h1>
    <p><%= @adherent.address %><br/>
      <% if @adherent.address2.length > 0 %>
        <%= @adherent.address2 %><br/>
      <% end %>
      <%= @adherent.zipcode %> <%= @adherent.city %><br/><br/>
      Email : <%= @adherent.email %><br/>
      Téléphone : <%= @adherent.tel1 %><br/>
      <% if @adherent.tel2 != "" %>
        Téléphone 2 : <%= @adherent.tel2 %>
      <% end %>
    </p>
    <%= link_to " Modifier", edit_adherent_path(current_user), class: "fa fa-pencil" %>

    <hr>

    <h1><u>Saison <%= @saison.name %></u><br/>
    <% if @adherent.years.include?(@saison) %>
      Adhérent</h1>
      <hr>
      <h1><u>Elèves :</u></h1>
      <p><% @students = @adherent.students %>
      <%= render 'shared/studentlist' %></p>
    <% else %>
      Non adhérent</h1>
      <%= link_to " Adhérer", new_adherent_adhesion_path(@adherent), class: "fa fa-plus-circle", data: { confirm: "Prendre l'adhésion #{@saison.name}?" } %>
      <br/><br/>
    <% end %>
  </div>
