<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Adhérents", adherent_index_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Elèves", students_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Professeurs", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Cours", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Profile", adherent_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
                  <li>
                    <%= link_to adherent_path(current_user) do %>
                      <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                    <% end %>
                  </li>

        <li class="divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                    <% end %>
                  </li>
      </ul>
      <a class="dropdown-button" href="#!" data-activates="dropdown1"><%= image_tag "avatar.jpg", class: "avatar " %></a>


    <% else %>
      <!-- Login link (when logged out) -->
      <h4>Musique en l'Isle - administration</h4>
    <% end %>
  </div>

</div>

