  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Année</th>
        <th>Adhérent</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.year %></td>
          <td><%= student.user.first_name %> <%= student.user.last_name %></td>
          <td><%= link_to student, class: "secondary-content" do %>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            <% end %></td>
          <td>
            <%= link_to student, class: "secondary-content", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
