<%= simple_form_for [@adherent,@crenau], id: "test" do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs ">
    <table>
      <tr>
        <td>Professeur</td>
        <td><%= f.association :user,  :input_html => { :class => "grandselect" }, collection: @usercollection, label_method: :fullname, label: false, selected: f.object.user.id %></td>
        <td>Jour</td>
        <td><%= f.input :jour, label: false,  :input_html => { :class => "petitselect" } ,collection: @jours, selected: @jours[@crenau.jour] %>
        </td>
        <td>
          <% if @auth %>
              <div class="toutpetit">Validé</div>

              <div>
                <input type="checkbox" id="test5" name="crenau[valide]"
                  <%= "checked" if crenau.valide == true %> onclick="
                  getElementById('crenau_valide').value = document.getElementById('test5').checked;"/>
                <label for="test5"></label>
                <input value="<%= crenau.valide %>" type="hidden" name="crenau[valide]" id="crenau_valide">
              </div>
          <% end %>
        </td>

      </tr>
      <tr>
        <td>Instrument</td>
        <td><%= f.association :instrument, :input_html => { :class => "grandselect" }, label: false, collection: @instruments %></td>
        <td>Récurrence</td>
        <td>
          <%= f.input :recurence, label: false,  :input_html => { :class => "grandselect" }, collection: @recurences, selected: @recurences[@crenau.recurence] %>

        </td>
        <td>
          <% if crenau.id %>
            <%= link_to  adherent_crenau_path(@adherent, crenau), method: :delete, data: { confirm: "Supprimer le créneau?" } do fa_icon("trash-o") end%>
          <% end %>
        </td>
      </tr>
        <% crenau.id ? hid ="visible"  : hid = "hidden" %>
      <tr>
        <td>Formule</td>
        <td>
          <div class="center" style="visibility: <%= hid %>;" id="dselect">
            <%= f.association :discipline,  :input_html => { :class => "grandselect" }, label: false, collection: @disciplines %>
          </div>
        </td>
        <td>Horaires</td>
        <td>
          <div>
             De <%= f.text_field :start, value: crenau.start.strftime("%H:%M"), :class => "timepicker" %>
             A <%= f.text_field :end, value: crenau.end.strftime("%H:%M"), :class => "timepicker" %>
          </div>
        </td>
        <td>
          <button name="button" type="submit" class=""><%= fa_icon("save") %></button>
        </td>
       </tr>
    </table>
    <div class="hidden">
      <%= f.association :year, collection: [@saison], label: "Saison", selected: 1 %>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  const select = document.getElementById("crenau_discipline_id");

  document.querySelector('#crenau_instrument_id').addEventListener('change', function (ev) {
      var url = "/instruments/" + ev.target.value + "/ajax"
      console.log(url)
    fetch(url)
      .then(function(response) {
        response.text().then(function(text) {
          select.innerHTML = text;
          document.querySelector('#dselect').style.visibility = 'visible';
        });
      })
  });

</script>
