<div class="myflex content-title">
  <p><%= render 'shared/logo' %> /
    <%= link_to "Créneaux", adherent_crenaus_path(@adherent) %> / Edition</p>

  <%= render 'shared/logout' %>
</div>
    <%=  render 'ajax' %>
<div class="tablestudent">
  <div class="center">
    Elèves inscrits sur ce crénau :
  </div>
  <% @cours.each do |cour|
    @cour = cour %>
        <%= render 'ajax' %>
  <% end %>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<script type="text/javascript">

 document.querySelector('#crenau_jour').addEventListener('change', function (ev) {
      var url = "/adherent/" + <%= current_user.id  %> + "/crenaus/" + <%= @crenau.id %> + "/edit";
      var url = "<%= adherent_crenau_ajax_path(current_user, @crenau) %>";
console.log(url);
    fetch(url)
      .then(function(response) {
        response.text().then(function(text) {
          document.querySelector('#mycrenau').innerHTML = text;

        });
      })
    });
</script>
