<p id="notice"><%= notice %></p>

<p>
  <strong>Prof:</strong>
  <%= @crenau.user.fullname %>
</p>

<p>
  <strong>Year:</strong>
  <%= @crenau.year %>
</p>

<p>
  <strong>Valide:</strong>
  <%= @crenau.valide %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @crenau.discipline %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @crenau.instrument %>
</p>

<p>
  <strong>Jour:</strong>
  <%= @crenau.jour %>
</p>

<p>
  <strong>Recurence:</strong>
  <%= @crenau.recurence %>
</p>

<p>
  <strong>Start:</strong>
  <%= @crenau.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @crenau.end %>
</p>

