    <div class="myflex content-title">
      <p><%= render 'shared/logo' %> /
        <%= @student.fullname %></p>
      <%= render 'shared/logout' %>
    </div>
    <div class="content-bandeau myflex">
      <div>Pré-inscription à un cours</div>
      <%= @student.fullname %>
    </div>

    <div class="content-form">
      <%= render 'form', cour: @cour %>
    </div>
