<h1>Liste d'adhérents</h1> <%= link_to "new", new_adherent_path  %>
<table>
   <tr>
     <th>Prénom</th>
     <th>Nom</th>
     <th>Fonction</th>
   </tr>
  <% @adherents.each do |adherent| %>
    <tr class="mycard">
      <td><%= adherent.first_name %></td>
      <td><%= adherent.last_name %></td>
      <td><%= adherent.function.name %></td>
      <td><%= link_to adherent_path(adherent) do %><i class="fa fa-info-circle" aria-hidden="true"></i><% end %></td>
    </tr>
  <% end %>
</table>
