<div class="myflex">
  <div class="mycard">
    <h3><%= @adherent.first_name %> <%= @adherent.last_name %> (<%= @adherent.function.name %>)</h3>
    <%= link_to edit_adherent_path  do %>
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
    <% end %>
    <p><%= @adherent.address %><br/>
    <%= @adherent.address2 %><br/>
    <%= @adherent.zipcode %> <%= @adherent.city %></p>
    <p>Email : <%= @adherent.email %><br/>
    Téléphone : <%= @adherent.tel1 %><br/>
    Téléphone 2 : <%= @adherent.tel2 %></p>
  </div>
  <div class="mycard mygrow">
    <h3>Elèves : </h3>
    <table>
     <tr>
       <th>Prénom</th>
       <th>Nom</th>
     </tr>
      <% @adherent.students.each do |student| %>
        <tr class="">
          <td><%= student.first_name %></td>
          <td>
            <%= link_to student_path(student) do %>
              <i class="fa fa-info-circle" aria-hidden="true"></i>
            <% end %>
            <%= link_to student_path(student), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
