<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a></h4>
  <h4>Bonjour <%= @adherent.first_name %> <%= @adherent.last_name %></h4>
  <h5><%= @adherent.function.name %></h5>
</div>

  <div class=" col s12 m12 mycard">
<div class="row">
    <div class="col s12 l6 separator padding">
      <h5><u>Informations personnelles</u></h5>
      <p><%= @adherent.first_name %> <%= @adherent.last_name %> <br/>
      <%= @adherent.address %><br/>
      <% if @adherent.address2.length > 0 %>
        <%= @adherent.address2 %><br/>
      <% end %>
      <%= @adherent.zipcode %> <%= @adherent.city %></p>
      <p>Email : <%= @adherent.email %><br/>
      Téléphone : <%= @adherent.tel1 %><br/>
      Téléphone 2 : <%= @adherent.tel2 %></p>
      <%= link_to "modifier", edit_adherent_path %>
    </div>

    <div class="col s12 l6 padding">
      <h5><u>Situation administrative</u></h5><br/>
    </div>
</div>
  </div>
<div class="title">
  <h4></h4>
  <h4>Elèves :</h4>
  <h4><%= link_to new_adherent_student_path(@adherent) do  %>
    <i class="fa fa-plus-circle" aria-hidden="true" title="Ajouter un adhérent"></i>
    <% end %></h4>
</div>


<div class=" col s12 m12 mycard">
  <% @students = @adherent.students %>
  <%= render 'shared/studentlist' %>
</div>
