<div class="myflex content-title">
  <p><%= render 'shared/logo' %> / Instruments enseignés</p>
  <%= render 'shared/logout' %>
</div>

<div class="row back rowshadow">
  <div class="content col s12 m9">
    <div class="row">
      <div class="col s6 separator padding">
        <div class="content-table">
          <table class="striped responsive-table">
            <thead>
              <tr>
                <th>Nom</th>
                <th class="right">  <%= link_to fa_icon('plus-circle'), new_instrument_path, title: "Ajouter un instrument" if @auth %></th>
              </tr>
            </thead>
            <tbody>
              <% @instruments.each do |instrument| %>
                <tr class="<%= "tractive" if instrument.id == @active %> pointer"
                 onclick="location.href='?instru=<%= instrument.id %>'">
                  <td><%= instrument.name %></td>
                  <td><%= link_to fa_icon("trash-o"), instrument, class: "secondary-content", method: :delete, data: { confirm: "Supprimer l'instrument'?" } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col s6">
        <ul id="dropdownf" class="dropdown-content dropdown2">
          <% @allformules.each do |formule| %>
            <li><%= link_to formule.name, "#{instruments_path}?instru=#{@active}&formule=#{formule.id}" %></li>
          <% end %>
        </ul>
        <div class="content-form">
          <table class="striped responsive-table">
            <thead>
              <tr>
                <th>Formules associées </th>
                <th><a class="dropdown-button" href="#!" data-activates="dropdownf" title="Associer une autre formule"><%= fa_icon("plus-circle") %></a></th>
              </tr>
            </thead>
            <tbody>
              <% @formules.each do |formule| %>
                <tr class="pointer" onclick="location.href='<%= edit_discipline_path(formule) %>'">
                  <td><%= formule.name %></td>
                  <td><%= link_to fa_icon("trash-o"), "#{instruments_path}?instru=#{@active}&dformule=#{formule.id}", class: "",:confirm=>'Are you sure?'%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
