<div class="myflex content-title">
  <p><%= render 'shared/logo' %> / <%= link_to "Instruments", instruments_path %> / Nouveau</p>
  <%= link_to fa_icon('plus-circle'), new_instrument_path, title: "Ajouter un instrument" if @auth %>
  <%= render 'shared/logout' %>
</div>

<div class="row back rowshadow">
  <div class="content col s12 m9">

    <div class="content-form">
      <%= render 'form', instrument: @instrument %>
    </div>
  </div>
</div>
