<div class="title">
  <h4><a href="#" onClick="history.go(-1);return true;">
        <i class="fa fa-chevron-circle-left"></i></a></h4>
  <h4>Saisons</h4>
  <h4><%= link_to new_year_path do  %>
  <i class="fa fa-plus-circle" aria-hidden="true" title="Ajouter une saison"></i>
  <% end %></h4>
</div>

<div class="mycard">
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Adhésions</th>
        <th>Elèves</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @years.each do |year| %>

        <tr class="pointer" onclick="location.href='<%= edit_year_path(year) %>'">
          <td><%= year.name %></td>
          <td><%= year.adhesion.count %></td>
          <td><%= Cour.where(year: year).count %></td>
          <td><%= link_to fa_icon("trash-o"), year_path(year), class: "secondary-content", method: :delete, data: { confirm: 'Supprimer la saison?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
